html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: sans-serif;
}

form {
    width: 30%;
    margin: auto;
    margin-top: 10em;
    background: #eee;
    padding: 1em;
}

form div {
    margin-bottom: 1em;
}

form input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    font-size: 1em;
    padding: 5px;
}
form label {
    /* font-weight: bold; */
    margin-bottom: 10px;
    display: block;
}

form button {
    background: #333;;
    border:1px solid #111;
    padding: 10px;
    color: #eee;
    font-size: 1em;
    cursor: pointer;
}
form button:hover {
    background: #555;
}
form .alert p {
    background: #c92424;
    padding: 10px;
    color: #fff;
}